.form-search {
  width: 1000px;
  margin: 20px auto;
  text-align: center;
  font-family: 'Nunito', sans-serif;;
} 
  .search-bar{
    box-sizing: border-box;
    width: 50%;
    height: 50px;
    padding: 0px 65px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    border: none;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.75);
    background-image: url(../../assets/icon/maps.svg);
    background-repeat: no-repeat;
    background-size: 6%;
    background-position: 5%;
    
  }
    ::placeholder {
      color: #000;
      font-size: 18px;
      font-weight: bold;
      font-family: 'Nunito', sans-serif;
    }