.search-content{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    font-family: sans-serif;
    margin-top: none;
}

* {
    box-sizing: border-box;
  }

.form-search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 71%;
    background: white;
    box-shadow: 7px 5px 10px rgb(39, 39, 39);
  }

.form-search button {
    width: 15%;
    padding: 10px;
    background: #20364d;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: none;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgb(39, 39, 39);
  }
  
.form-search button:hover {
  transition: all 1s ease;
    background: #60b5d4;
  }
  
.form-search::after {
    font-family: sans-serif;
    content: "";
    clear: both;
    display: table;
  }

  ::placeholder {
      
    font-family: sans-serif;
    color: black;
    font-size: 18px;
    text-align: center;
    opacity: 70%; /* Mexe na opacidade do placeholder*/
}



/* Tira a borda de Foco quando clica no Input ou Button*/

    button:focus{
        outline: none;
        }

    input:focus {
        outline:none;
        background-color: white;
        opacity: 100%;
        }