.search-content{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    font-family: sans-serif;
    margin-top: 1em;
}

* {
    box-sizing: border-box;
  }

.form-search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    float: center;
    width: 70%;
    background: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px grey;
  }

.form-search button {
    float: center;
    width: 15%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: none;
    cursor: pointer;
    box-shadow: 3px 5px 10px grey;
  }
  
.form-search button:hover {
    background: #0b7dda;
  }
  
.form-search::after {
    font-family: sans-serif;
    content: "";
    clear: both;
    display: table;
  }

  ::placeholder {
      
    font-family: sans-serif;
    color: rgb(92, 91, 91);
    font-size: 18px;
    text-align: center;
    opacity: 60%; /* Mexe na opacidade do placeholder*/
}



/* Tira a borda de Foco quando clica no Input ou Button*/

    button:focus{
        outline: none;
        }

    input:focus {
        outline:none;
        }