<<<<<<< HEAD
/* .chart-wrapper{    
    border: 5px dotted aqua;
    height: 5px;
} */
=======
/* canvas{    
    
    height: 8.5cm!important;
    width: max-content!important;
} */
/* border: 5px dotted aqua; */
>>>>>>> b2f5b595637f12abf90b70637edda6639520f34b
