 .container {
     box-sizing: border-box;
     margin: 10em auto;
     width: 60%;
     height: 50vh;
     padding: 50px;
     border: 1px solid grey;
     border-radius: 20px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     box-shadow: 5px 5px 10px rgb(39, 39, 39);
     background: rgb(255, 255, 255);
     opacity: 90%;
    }
    .status-weather{
        display: flex;
        width: 100%;
    }
            .content-temperature {
                box-sizing: border-box;
                display: flex;
                margin-right: 100px;
            }

                .content-temperature h2 {
                    margin:0;
                    margin-left: 20px;
                }
        
            .other-content-temperature {
                
            }
    .graphic {
        background-color: tomato;
         border: 10px solid yellow ;
         height: 5px;
    }