<nav class="menu-prev-weather">
  <ul class="menu-prev-itens">
    <li>Hoje</li>
    <li>Nesta semana</li>
    <li>Historico</li>
  </ul>
</nav>

<section class="content-weather">

  <div class="location-city">
    <h2>{{ responses.city }} - {{ responses.country }}</h2>
  </div>

  <hr class="hr-style">

  <div class="content-temperature">
    <span><img src="../../assets/icon/{{responses.icon}}.png" /> - {{ responses.description }}</span>
    <h2>{{ responses.temperature }} ºC</h2>
  </div>

  <div class="more-info">
    <div>
      <img src="../../assets/icon/rain.svg" />
      <p>Chuva:</p>
      <span>{{ responses.preciptation }} %</span>
    </div>

    <div>
      <img src="../../assets/icon/moisture.svg" />
      <p>Umidade:</p>
      <span>{{ responses.umidity }} %</span>
    </div>

    <div>
      <img src="../../assets/icon/wind.svg" />
      <p>Vento:</p>
      <span>{{ responses.wind }} Km/h</span>
    </div>
  </div>

  <div class="graphic">
    <grapich-today></grapich-today>
  </div>

</section>
