 p{ 
    text-align: center;
    font-size: 20px;
    color:rgb(92, 91, 91);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 60%;
 }
.container{
    margin: 2em auto;
    width: 20%;
    height: 70%;
    display: flex;
    justify-content: center;
    padding: 15em;
    border: 1px solid grey;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 5px 5px 10px grey;
}