<section class="container">
   
    <div>
        <h2>São João Climaco, São Paulo - SP, 04255</h2>
        <p>quarta-feira, 13:00</p>
    </div>

    <div class="status-weather">
        <div class="content-temperature">
            <span>*Icone temperatura*</span>
            <h2>*25 °C*</h2>
        </div>

        <div class="other-content-temperature">
            <p>Chuva: 23%</p>
            <p>Umidade: 50%</p>
            <p>Vento: 14 Km/h</p>
        </div>

      

    </div>
    <div class="graphic">
        <grapich-today></grapich-today>
    </div>
</section>
