/* You can add global styles to this file, and also import other style files */

html, body { 

    /* background: rgb(255,255,255); */
    /* background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(62,247,174,1) 53%); */
    background-image: url(../src/assets/img/mountains-5120x2880-silent-silhouette-minimal-hd-5k-10134.jpg);
    height: 100%;
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;

}
body { 
    margin: 0;  
    font-family: Roboto, "Helvetica Neue", sans-serif;
    
}

